includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 4
    paths:
        - src
        - examples
    tmpDir: vendor/phpstan/tmp
    checkOctaneCompatibility: true
    checkModelProperties: true

